.detail-space-section-bg{
    background: url('../../../public/images/bg1.jpg') center center;
    padding: 64px 0 270px;
    background-size: cover;
    position: relative;

  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 65, 76, .6); /* Adjust the opacity here */
  }
  .detail-space-content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
  }
  .detail-space-heading{
    font-size: 2.5rem;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  }

  .breadcrumb-position{
    background-color: white;
    position: relative;
    top: 130px;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 2px 2px 9px -1px black;
  }
  .breadcrumb-position ul{
    letter-spacing: .5px;
    padding: 8px 24px;
    display: block;
  }
  .breadcrumb-position ul li{
    font-size: 14px;
    font-weight: 500;
    padding-left: 0;
    display: inline-block;
    margin-right: 20px;
  }
  .detail_container{
    padding: 85px 0px;
    position: relative;

  }
.detail_Main{
  margin: 0px 80px;
}
@media only screen and (max-width: 600px) {
  .detail_Main{
    margin: 0px 40px;
  }
}
.border{
  border: 1px solid #e7ecf2
}
.sticky-sidebar{
  position: sticky;
  top: 80px;
  margin-top: 15px;
}