
.all-space-section-bg{
    background: url('../../../public/images/bg1.jpg') center center;
    padding: 64px 0 270px;
    background-size: cover;
    position: relative;

  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 65, 76, .6); /* Adjust the opacity here */
  }
  .all-space-content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
  }
  .space-heading{
    font-size: 2.5rem;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  }

  .breadcrumb-position{
    background-color: white;
    position: relative;
    top: 130px;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 2px 2px 9px -1px black;
  }
  .spaces-sections{
    position: relative;
    padding: 58px 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .spaces-cards{
    /* display: flex; */
    padding: 0px 15px;
    margin: 0px 58px;
   
  }
  .card{
    width: 18rem;
    transition: all 0.5s;
  }
  .card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

/* Search */
.search-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 34px 30px;
    margin: 60px 120px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.search-input{
    width: 250px;
    /* margin-top: 15px; */
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 600px){

    .search-container{
        padding: 34px 30px;
        margin: 60px 50px;
    }
    .search-input{
    margin-top: 15px;

    }

}



/* Input CSS */
.search-int {
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  .search-int:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  .search-int:hover {
    outline: 1px solid lightgrey;
  }
/* Button */

.searchbtn {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: rgb(46, 46, 158);
    transition: all 0.2s ease;
  }
  
  .searchbtn:active {
    transform: scale(0.96);
  }
  
  .searchbtn:before,
  .searchbtn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .searchbtn:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .searchbtn:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

.discover{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
    font-family: auto;
    padding: 0px 70px;
}

/* CARD CSS */
.card-title{
  font-size: 1.2rem;
    font-weight: bold;
}

/* ead More Btn */

.readMore {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--lb-color);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 6px;
  width: 103px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 .readMore:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 
 .readMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .readMore span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  
 }
 
 .readMore:hover span {
  padding-right: 15px;
  
 }
 
 .readMore:hover span:after {
  opacity: 1;
  right: 0;
  
 }