.Register-container {
  background: linear-gradient(rgba(70, 70, 70, 0.7),rgba(53, 53, 53, 0.7)), url("../../../../public//images//register.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  /* border: 2px solid rgb(0, 255, 98); */
  }
  .home-logo{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    padding-top: 20px;
  }
  .home-logo svg{
    width: 50px;
    height: 50px;
    color:#2529b3;
  }

  .register-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .register-form{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 440px;
    height: 450px;
    gap: 10px;
    background-color: ghostwhite;
    border-radius: 5px;
  }

  @media only screen and (max-width: 668px) {
    .register-form{
      width: 320px;
    height: 420px;
    }
  }
  
  .register-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  .register-input{
    max-width: 100%;
  background-color: #f5f5f5;
  color: #000000;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  }
  .register-input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  .register-input:hover {
    outline: 1px solid lightgrey;
  }
  .register-btn-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .register-btn{
    background-color: #396cf0 ;
    width: 35%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    transition: all 1s;
  }
  .register-btn:hover{
    background-color: #2158e2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .switch{
    color: black !important;
  }
  .register_name h1{
    font-size: 1.4rem;
  }
  .register_tog{
    color: #396cf0;
  }