*{
    margin: 0;
    padding: 0;
}
.containerr{
    height: 100vh;
}
/* Main Cntainer who grib whole front */
.mainContainer{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../../public/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.section{
    text-align: center;
    width: 50vw;
    color: white;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-heading{
    font-size: 50px;
}