.Login-container {
  background: linear-gradient(rgba(70, 70, 70, 0.7),rgba(53, 53, 53, 0.7)), url("../../../../public//images//login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  }
  .login-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .form{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 370px;
    height: 365px;
    gap: 10px;
    background-color: ghostwhite;
    border-radius: 5px;

  }
  .login-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }
  .login-email{
    max-width: 100%;
  background-color: #f5f5f5;
  color: #000000;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  }
  .login-email:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  .login-email:hover {
    outline: 1px solid lightgrey;
  }
  .login-password{
    max-width: 100%;
  background-color: #f5f5f5;
  color: #000000;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
  }
  .login-password:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
  }
  
  .login-password:hover {
    outline: 1px solid lightgrey;
  }
  .login-btn-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .login-btn{
    background-color: #396cf0 ;
    width: 35%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    transition: all 1s;
  }
  .login-btn:hover{
    background-color: #2158e2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .switch{
    color: black !important;
  }
  .login_name h1{
    font-size: 1.4rem;
  }
  .login_tog{
    color: #396cf0;
  }
  .error-message{
    font-weight: 500;
    background-color: #396cf0;
    color: white;
    padding: 7px 25px;
    border-radius: 3px;
    text-transform: uppercase;
  }