
.listing-section-bg{
  background: url('../../../public/images/list.jpg') center center;
  padding: 64px 0 270px;
  background-size: cover;
  position: relative;

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 65, 76, .6); /* Adjust the opacity here */
}
.listing-content-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}
.listing-heading{
  font-size: 2.5rem;
font-family: "Fjalla One", sans-serif;
font-weight: 400;
font-style: normal;
text-decoration: underline;
}

.l-button {
  font-size: 20px;
  color: #e7e7e7;
  font-family: "Axiforma";
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.l-button:focus,
.l-button:hover {
  color: #fff;
}

.l-button:focus:after,
.l-button:hover:after {
  width: 100%;
  left: 0%;
}

.l-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* container */
.listing-container{
  padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.listing-container h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 26px 0px;
  width: 100%;
  }
.listing-container h3{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0px;
  width: 100%;
  }
.listing-bg-pic{
  background: url("../../../public/images/list.jpg") center center;
  background-attachment: fixed;
  padding: 1px;
}
.listing-content{
  display: flex;
  gap: 50px;
  padding: 25px;
  margin: 70px 20px;
}
.listing-c-1{
  /* border: 1px solid rgb(51, 255, 0); */
  padding: 0px 20px;
  text-align: justify;
  font-family: 'Axiforma';
  line-height: 1.9;
  width: 50%;
}
.listing-c-1 span{
  font-size: 1.7rem;
  font-weight: 700;

}
.listing-c-2 {
  width: 50%;
  /* border: 1px solid rgb(17, 0, 255); */
}
.listing-c-2 img{
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease-in-out;
}
.listing-c-2 img:hover{
    transform: translateY(-4px);
}
.btn{
  color: black;
}

.email-already{
  color: red;
  margin-top: 2px;
  margin-left: 3px;
}

.yourself{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.yourself-content{
  display: flex;
  flex-wrap: wrap;
}
.yourself-content input{
  border-bottom: 1px solid var(--lb-color);
  padding: 8px;
  width: 80%;
}
.alert{
  width: 100%;
}
.same-c{
  width: 40%;
  margin: 10px 25px;
}
.yourself-content input:focus{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  outline: none;
}

.yourself-heading{
  font-weight: 600;
    margin-left: 22px;
    color: var(--lb-color);
    font-size: 1.1rem;
}
.same-t{
  width: 85%;
}
/* Mobile */
@media only screen and (max-width: 850px) {
  .listing-content{
    flex-wrap: wrap;
  }
  .same-c{
    width: 100%;
  }
  .listing-container{
    margin: 30px;
  }
    .listing-c-1{
      width: 100%;
    }
    .listing-c-2{
      width: 100%;
    }
}