.main-admin-container{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../../../public/images/14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 83vw;
    position: absolute;
    margin-left: 240px;
    padding: 25px;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f6f6f6;
    position: relative;
    top: 10%;
    left: 0;
    right: 0;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container .user-admin-head{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
}
.delete-user{
    background-color: red;
    color: white;
    font-size: bold;
    font-weight: bold;
    text-align: center;
    padding: 3px 13px;
    border-radius: 5px;
}

/* No User */
.no-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orangered;
    font-size: 2rem;
}

.dashboard{
    font-size: 2.8rem;
    color: var(--lb-color);
    float: right;
    cursor: pointer;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }